/************************************************************************
#
#       Program Name: style.css
#
#       Description: Cascading Style Sheet used to format HTML website
#
#       Language: CSS
#
#       Date: 2/10/2023
#
#       Author: Joshua Farias
#
************************************************************************/

body{
    /*font is set to 15px with 1.5x line-height Arial, Helvetica, and san-serif are the fonts used*/
    font: 15px/1.5 Arial, Helvetica, san-serif; 
    padding:0; /*space between content and border of elements are set to 0*/
    margin:0; /*space outside of an element is set to 0*/
    background-color: #f4f4f4; /*body background set to light-gray*/
  }

  /* Global: Applied to entire web page */
  .container{
    width:80%; /*set width of the element to 80% of parent container*/
    margin:auto; /*center element horizontally*/
    overflow:hidden; /*hide overflow*/
  }

  /*reset default margins and padding for unordered items in list*/
  ul{
    margin:0;
    padding:0;
  }
  
  /*button_1 styling, adjust height, make background light blue, remove border, add padding, make text white*/
  .button_1{
    height:38px;
    background:#328cf3;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
  }

  /*dark class styling, add padding, set background color to navy blue, make text color white, add margins*/
  .dark{
    padding:15px;
    background: #032d47;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
/* Headers */

  /*set background color to navy blue, set text color to white, add padding, set minimum height, add light blue border*/
  header{
    background:#032d47;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#328cf3 5px solid;
  }
  
  /*Link headers, set color to white, remove underline, set to uppercast, adjust font size to 16px*/
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
  }
  
  /*List items within header, float items to left, display items inline, add padding to left and right or list items*/
  header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
  }
  
  /*Float brading to left of page within header*/
  header #branding{
    float:left;
  }

  /*Remove margin from header*/
  header #branding h1{
    margin:0;
  }
  
  /*float nav links to the right, set top margin to 10px and bottom margin to 25px*/
  header nav{
    float:right;
    margin-top:10px;
    margin-bottom:25px;
  }
  
  /*set color to light blue and make text bold*/
  header .highlight, header .current a{
    color:#328cf3;
    font-weight:bold;
  }
  
  /*set color to light gray and make text bold on hover*/
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
